.app-header {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    gap: 16px;
}